certifi==2023.7.22
chardet==4.0.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
gunicorn==19.9.0
idna==2.10
importlib-metadata==4.5.0
inflect==5.3.0
mysql-connector==2.2.9
requests==2.25.1
sqlacodegen==2.3.0
SQLAlchemy==2.0.23
typing-extensions==4.8.0
zipp==3.4.1
