<html DOCTYPE="html">
    <head>
        <title>ISPyB Logistics</title>
        <link href="/static/css/jquery.mobile-1.4.5.css" type="text/css" rel="stylesheet" />
        <link href="/static/css/mobile.css" type="text/css" rel="stylesheet" >
    </head>
    <body>
        <div>
            <h1>ISPyB Logistics Apps</h1>

            <h3 class="ui-bar ui-bar-a ui-corner-all">Zone 6</h3>
            <div class="ui-body ui-body-a ui-corner-all">
                <p>Dewar Management Application for use within Zone 6</p>
                <a href="/zone6/">Zone 6</a>
            </div>
            <h3 class="ui-bar ui-bar-a ui-corner-all">Stores</h3>
            <div class="ui-body ui-body-a ui-corner-all">
                <p>Dewar Management Application for use within Stores</p>
                <a href="/stores/">Stores</a>
            </div>
            <h3 class="ui-bar ui-bar-a ui-corner-all">eBIC</h3>
            <div class="ui-body ui-body-a ui-corner-all">
                <p>Dewar Management Application for use within eBIC</p>
                <a href="/ebic/">eBIC</a>
            </div>
        </div>
        <div><p>Any issues or questions, please contact Scientific Software <a href="mailto:scientificsoftware@diamond.ac.uk?Subject=ISPyBLogistics">here</a></p></div>
    </body>
</html>