<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bulma/0.7.1//bulma.min.css"/>

    <script src="/static/js/vue/2.5.17/vue.min.js"></script>

    <!-- Promise Polyfill for IE11 and axios -->
    <script src="/static/js/es6-promise/es6-promise.min.js"></script>
    <script src="/static/js/es6-promise/es6-promise.auto.min.js"></script> 

    <script src="/static/js/axios/0.18.0/axios.min.js"></script>
    <script src="/static/js/howler/2.0.15/howler.js"></script>

</head>

<body class="has-background-white-ter">

  <div class="container-fluid" id="app">

    <!-- First set of columns are the top form elements -->
    <div class="columns">

      <!-- Form element to set locations -->
      <div class="column is-one-third solid-border">
        <h2 class="title has-text-centered">Scan Dewar and Rack</h2>
        <form>
          <div class="field">
            <label>Barcode or FacilityCode</label>
              <div class="control">
                <input ref="barcode" type="text" class="input" v-model="barcode" v-on:keydown.enter="onBarcodeEnter" placeholder="Scan the long barcode from the dewar case">        
              </div>
          </div>

          <div class="field">
            <label>Location</label>
            <div class="control">
              <input ref="location" type="text" class="input" v-model="location" v-on:keydown.enter="onLocationEnter" placeholder="Scan the location e.g. RACK-A1">        
            </div>
          </div>

          <div class="columns">
            <div class="column">
                <button type="submit" class="button is-link is-fullwidth" v-on:click="onSetLocation">Submit</button>              
            </div>
            <div class="column">
                <button type="cancel" class="button is-info is-fullwidth"  v-on:click="onClearLocationForm">Cancel</button>
            </div>
          </div>        
        </form>
      </div>
            
      <!-- Form element to find a dewar -->
      <div class="column is-one-third solid-border">
        <h2 class="title has-text-centered">Find a Dewar</h2>
        <form>
          <div class="field">
            <label>Facility Code</label>
            <div class="control">
                <input type="text" class="input" v-model="facilitycode" placeholder="DLS-MX-####">   
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button type="submit" class="button is-link is-fullwidth" v-on:click="onFindDewar">Search</button>            
            </div>
            <div class="column">
              <button type="submit" class="button is-info is-fullwidth" v-on:click="onClearFindForm">Cancel</button>            
            </div>
          </div>
          <div v-if="searchResult" class="field has-text-centered">
              <p class="subtitle has-text-danger"><b>[[searchResult]]</b></p>
          </div>
        </form>
      </div>

      <!-- Display dewars in need of refilling (show up to 5)-->
      <div class="column is-one-third solid-border">
        <h2 class="title has-text-centered">Dewars that need refilling</h2>
        <ul>
          <li v-for="dewar in dewars.slice(0, 5)">
            <p class="is-size-5 has-text-centered has-text-danger"><b>[[dewar]]</b></p>
          </li>
        </ul>
        <footer class="footer has-background-white-ter is-paddingless">
          <div class="content has-text-centered">
            <p>(Scan dewars back into the same position after refilling)</p>
          </div>
        </footer>
      </div>
    </div>

    <!-- 
      Area for messages from back end 
      Currently conditional styling based on error or warning
    -->
    <div v-if="message" class="columns">
        <article class="column is-12 message" v-bind:class="[isError ? 'is-danger' : 'is-info']">
        <div class="message-body subtitle">
          [[message]]
        </div>
      </article>
    </div>
    
    <!-- Display the rack locations, four columns across -->
    <div class=" solid-border columns is-multiline">
      <div class="column is-3" v-for="dewar, rack in rack_locations">
        <div class="box has-background-white-ter" v-on:click="onClearLocation(rack)" v-bind:class="{'has-text-danger': dewar.needsLN2 && dewar.status !== 'dispatch-requested'}">
          <span class="has-text-weight-bold">[[rack]]: </span>
          <span v-if="dewar.barcode" class="content has-text-weight-bold">[[dewar.barcode]]</span>
          <span v-else class="content is-invisible">empty</span>
          <!-- Tags -->
          <div>
            <span v-if="dewar.facilityCode" class="tag is-dark">[[dewar.facilityCode]]</span>
            <span v-if="dewar.status == 'dispatch-requested'" class="tag is-warning">[[dewar.status]]</span>
            <span v-else-if="dewar.needsLN2" class="tag is-danger">needs-refill</span>  
          </div>
        </div>
      </div>
    </div>    

    <!-- This pops up to confirm the clear location action -->
    <div class="modal" v-bind:class="{ 'is-active' : isRemoveDialogActive }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirm Clear</p>
        </header>
        <section class="modal-card-body">
          <p>Confirm removal of dewar from location [[locationToRemove]]?</p>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" v-on:click="onConfirmClear(true)">Confirm</button>
          <button class="button" v-on:click="onConfirmClear(false)">Cancel</button>
        </footer>
      </div>
    </div>

  </div>


  <!-- Inline Javascript code -->
  <script>
    var sounds = {}

    sounds.success = new Howl({
      src: ['/static/audio/success.mp3', '/static/audio/success.wav']
    });

    sounds.fail = new Howl({
      src: ['/static/audio/fail.mp3', '/static/audio/fail.wav']
    });

    // Provided by Jinja2 template
    // Used to enforce correct ordering of rack locations
    var racklist = {{rack_locations | tojson() }}

    // Single Vue instance to manage this page
    var app = new Vue({
        el: '#app',
        // Change default delimters to avoid clash with jinja2
        delimiters: ["[[","]]"],
        data: {
          // Array for dewars that need refilling...        
          dewars: [],
          // Data for rack locations in JSON structure
          // Data from backend is a list [barcode, arrivalData, facilityCode]
          rack_locations: {},
          // Data elements for form input
          barcode: '',
          location: '',
          facilitycode: '',
          // Toggle the pop up confirmation dialog
          isRemoveDialogActive: false,
          locationToRemove: "",
          // Error message on find dewar, set location etc
          // isError if actual error, info otherwise
          message: "",
          isError: false,
          isFormOK: true,
          // Value to store results of facility code search
          searchResult: "",
          // Timeout handle - used to determine if we need to refresh page
          refresh: undefined,
          refreshInterval: 60000, // refresh interval in milliseconds
        },
        // Watcher to reset the error/info messages after few seconds...
        watch: {
          message: function(newValue) {
            // Close after 3 seconds
            if (newValue) {
              setTimeout(this.clearMessages, 3000);
            }
          },
          searchResult: function(newValue) {
            // Close after 3 seconds
            if (newValue) {
              setTimeout(this.clearMessages, 3000);
            }
          },
        },

        // Lifecycle hook - called when Vue instance has been created...
        created: function() {
          // We can initialise any data parameters here...
          let racks = racklist
          let self = this

          racks.forEach(function(rack) {
            self.rack_locations[rack] = {'barcode': '', 'arrivalDate':'', 'needsLN2':'', 'facilityCode': '', 'status': ''}
          })
        },

        // Lifecycle hook - called when Vue is mounted on the page (trigger first get request)...
        mounted: function() {
          console.log("Vue component mounted")

          // When page is loaded set focus to the input location element
          this.$refs.barcode.focus();

          this.getBarcodes()
        },

        methods: {
            // Main method that retrieves dewar locations from database
            getBarcodes: function() {
              let self = this

              if (self.refresh) {
                // If we have been triggered by a form post/update,
                // Cancel the current timeout (avoid double refresh)
                clearTimeout(self.refresh)
              }

              axios.get("/{{api_prefix}}/dewars")
              .then(function(response) {
                console.log(response.data)
                let json = response.data
                let racks = racklist //Object.keys(json); racklist is in correct order for rendering
                // We need to recalculate the dewars in need of refilling...
                self.dewars = []
                
                racks.forEach(function(rack) {
                  let barcode = json[rack][0]
                  let arrivalDate = json[rack][1]
                  let facilityCode = json[rack][2]
                  let status = json[rack][3]
                  // Could add facility code here as [2]
                  let needsLN2 = false

                  // Check here if arrivalData > 5 days    
                  if (arrivalDate !== "") {
                    let nowSecs = new Date().getTime()/1000;
                    let lastFillSeconds = Date.parse(arrivalDate)/1000

                    let deltaTime = nowSecs - lastFillSeconds

                    if (deltaTime > 5*24*3600) {
                      console.log("Dewar in rack location " + rack + " needs refilling")
                      needsLN2 = true
                      self.dewars.push(rack)
                    }
                  }
                  self.rack_locations[rack] = {'barcode': barcode, 'arrivalDate': arrivalDate, 'needsLN2': needsLN2, 'facilityCode': facilityCode, 'status': status}
                })
              })
              .catch(function(error) {
                console.log("Error getting initial data " + error)
                if (error.response.status === 404) {
                  // No dewars found - might be true
                  self.message = "Warning no dewars found in these locations"
                } else {
                  self.message = "Error retrieving dewar location information from database"
                  self.isError = true  
                }
              })
              // Now setup the next update
              self.refresh = setTimeout(self.getBarcodes, self.refreshInterval)
            },

            // Method to update dewar location in database
            onSetLocation: function(event) {
                event.preventDefault()

                if (this.barcode && this.location) {
                  let self = this
                  let barcode = this.barcode
                  let location = this.location

                  // Is this location in our list?
                  let hasLocation = this.rack_locations.hasOwnProperty(this.location.toUpperCase())
                  
                  if (hasLocation === false) {
                    // Something wrong - not a location we should set
                    self.message = 'Error - location not allowed for this page'
                    self.isError = true
                    return
                  }

                  let formData = new FormData();
                  formData.append('barcode', barcode)
                  formData.append('location', location)

                  axios.post("/{{api_prefix}}/dewars", formData)
                  .then(function(response) {
                    let json = response.data

                    // Changed because we don't get the dewar id back from synchweb
                    // We get a DEWARHISTORYID instead
                    if ( json['DEWARHISTORYID'] > 0 ) {
                        self.message = "Updating " + barcode + " to " + location
                        self.playSuccess();
                    } else {
                        self.message = "Error - no dewar history id returned"
                        self.isError = true
                        self.playFail();
                    }
                    // Request updated locations from DB                  
                    self.getBarcodes()
                  })
                  .catch(function(error) {
                    self.message = "Error updating " + barcode + " to " + location
                    self.isError = true
                    self.playFail();
                  })
                  // Rest form values
                  this.barcode = ''
                  this.location = ''    
                } else {
                  this.message = "Issue with form: "
                  if (this.barcode === "") {
                    this.message += " no barcode provided..."
                  }
                  if (this.location === "") {
                    this.message += ' no location provided...'
                  }
                }                 
            },

            // Search the database for a dewar with the specified facility code (DLS-MX-1234)
            onFindDewar: function(event) {
              event.preventDefault()

              if (this.facilitycode !== "") {
                console.log("find dewar " + this.facilitycode)   
              
                self = this
                let facilitycode = this.facilitycode

                axios.get("/{{api_prefix}}/dewars/find", {params: {'fc':facilitycode}})
                .then(function(response) {
                  let json = response.data
                  let location = json['storageLocation']
                  self.searchResult = location.toUpperCase()
                })
                .catch(function(error) {
                  self.searchResult = "Not Found"
                })
                .finally(function() {
                  // Clear up after query - could reset facility code input here?
                  //self.facilitycode = ''
                })
              } else {
                // This provides feedback message in main error/info area
                this.message = "No facility code provided"
              }
            },

            onClearLocationForm: function(event) {
              event.preventDefault()          
              this.barcode = ''
              this.location = ''
              // When form is cleared, set focus to the input location element
              this.$refs.barcode.focus();
            },

            onClearFindForm: function(event) {
                event.preventDefault()          
                this.facilitycode = ''
            },

            // Handler for clear location event (rack location clicked)
            // This will trigger the confirm dialog box to show up
            onClearLocation: function(location) {
              // This location will be upper case because we control how it is rendered
              this.isRemoveDialogActive = true
              this.locationToRemove = location
            },

            // User has either confirmed or cancelled
            onConfirmClear: function(confirm) {
              if (confirm === true) {
                // Extra check to ensure this is a valid location
                let hasLocation = this.rack_locations.hasOwnProperty(this.locationToRemove)

                if (hasLocation) {
                  // Store variables for use within axios handler functions
                  let self = this
                  let barcode = this.rack_locations[this.locationToRemove]['barcode']
                  let location = this.locationToRemove

                  console.log('Removing dewar from rack location ' + this.locationToRemove + " barcode " + barcode)

                  axios.delete("/{{api_prefix}}/dewars", {params: {'location': this.locationToRemove}})
                  .then(function(response) {
                    self.message = "Dewar removed " + barcode + " from location " + self.locationToRemove

                    // Refresh page
                    self.getBarcodes()
                  })
                  .catch(function(error) {
                    self.message = "Error removing dewar " + barcode + " from location " + self.locationToRemove
                    self.isError = true
                  })
                }
              }
              // In any case, reset data that will disable dialog box
              this.locationToRemove = "";
              this.isRemoveDialogActive = false
            },
            // Clear all messages in one go 
            clearMessages: function() {
              this.message = ""
              this.isError = false
              this.searchResult = ""
            },
            // Prevent form submission and move focus to next input element
            onBarcodeEnter: function(event) {
              event.preventDefault()
              this.$refs.location.focus()
            },
            // Prevent form submission
            onLocationEnter: function(event) {
              event.preventDefault()
              if (this.barcode) {
                this.onSetLocation(event)
              }
            },
            // Audio feedback methods
            playSuccess: function() {
              console.log("HAPPY BEEPS")
              sounds.success.play()
            },
            playFail: function() {
              console.log("SAD BEEPS")
              sounds.fail.play()
            },
      },
      })
    
  </script>

  <!-- Inline styling - css overrides (Borders Top, right, bottom, left) -->
  <style>
    .container-fluid {
      padding: 20px;
    }

    div.solid-border {
      border-style: solid;
      border-width: 1px 1px 1px 1px;
    }

    div.box {
      cursor: pointer;
    }
  </style>
</body>

</html>
